mat-card {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card,
mat-card-subtitle {
  transition: ease-in-out 0.1s;
}

mat-card:hover {
  background-color: #3f51b5b6;
  color: white;
}

mat-card:hover > mat-card-subtitle {
  color: whitesmoke;
}
