<mat-card>
  <mat-card-title><span i18n>Id</span>: {{ order.id }}</mat-card-title>
  <mat-card-subtitle><span i18n>Customer</span>: {{ order.customerName }}</mat-card-subtitle>
  <mat-card-content>
    <h4><span i18n>Number of items</span>: {{ order.numberOfItems }}</h4>
    <h4><span i18n>Price</span>: {{ order.price | currency:'VND' }}</h4>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn" (click)="onRemoveClick()">
      <span i18n>Delete</span>
    </button>
  </mat-card-actions>
</mat-card>
