mat-toolbar {
  padding: 0;
}

.logo {
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.btn-group {
  display: flex;
  gap: 10px;
}
