<mat-card>
  <div class="content-container">
    <mat-card-title>{{ customer.lastName }}</mat-card-title>
    <mat-card-subtitle>{{ customer.firstName }}</mat-card-subtitle>
  
    <mat-card-content>
      <p><span i18n>Address</span>: {{ customer.address }}</p>
      <p><span i18n>Phone number</span>: {{ customer.phoneNumber }}</p>
    </mat-card-content>
  </div>

  <mat-divider inset></mat-divider>

  <mat-card-actions>
    <button mat-button color="warn" (click)="remove(customer.id)">
        <span i18n>Delete</span> 
    </button>
  </mat-card-actions>
</mat-card>
